.flair {
height:35px;
width:35px;
cursor:pointer;
margin-right:6px;
margin-top:6px;
border:3px solid transparent;
background:url(../images/flairs.png) no-repeat -9999px;
background-clip:padding-box;
}

.flair:hover,.selected {
border:3px solid #3498db;
}

.flair-s2 {background-image: url(../images/flairs2.png)}
.flair-s3 {background-image: url(../images/flairs3.png)}
.flair-z {background-image: url(../images/z.png)}

.flair-1{background-position:0 0;}
.flair-2{background-position:0 -35px;}
.flair-3{background-position:0 -70px;}
.flair-4{background-position:0 -105px;}
.flair-5{background-position:0 -140px;}
.flair-6{background-position:0 -175px;}
.flair-7{background-position:0 -210px;}
.flair-8{background-position:0 -245px;}
.flair-9{background-position:0 -280px;}
.flair-10{background-position:0 -315px;}
.flair-11{background-position:0 -350px;}
.flair-12{background-position:0 -385px;}
.flair-13{background-position:0 -420px;}
.flair-14{background-position:0 -455px;}
.flair-15{background-position:0 -490px;}
.flair-16{background-position:0 -525px;}
.flair-17{background-position:0 -560px;}
.flair-18{background-position:0 -595px;}
.flair-19{background-position:0 -630px;}
.flair-20{background-position:0 -665px;}
.flair-21{background-position:0 -700px;}
.flair-22{background-position:0 -735px;}
.flair-23{background-position:0 -770px;}
.flair-24{background-position:0 -805px;}
.flair-25{background-position:0 -840px;}
.flair-26{background-position:0 -875px;}
.flair-27{background-position:0 -910px;}
.flair-28{background-position:0 -945px;}
.flair-29{background-position:0 -980px;}
.flair-30{background-position:0 -1015px;}
.flair-31{background-position:0 -1050px;}
.flair-32{background-position:0 -1085px;}
.flair-33{background-position:0 -1120px;}
.flair-34{background-position:0 -1155px;}
.flair-35{background-position:0 -1190px;}
.flair-36{background-position:0 -1225px;}
.flair-37{background-position:0 -1260px;}
.flair-38{background-position:0 -1295px;}
.flair-39{background-position:0 -1330px;}
.flair-40{background-position:0 -1365px;}
.flair-41{background-position:0 -1400px;}
.flair-42{background-position:0 -1435px;}
.flair-43{background-position:0 -1470px;}
.flair-44{background-position:0 -1505px;}
.flair-45{background-position:0 -1540px;}
.flair-46{background-position:0 -1575px;}
.flair-47{background-position:0 -1610px;}
.flair-48{background-position:0 -1645px;}
.flair-49{background-position:0 -1680px;}
.flair-50{background-position:0 -1715px;}
.flair-51{background-position:0 -1750px;}
.flair-52{background-position:0 -1785px;}
.flair-53{background-position:0 -1820px;}
.flair-54{background-position:0 -1855px;}
.flair-55{background-position:0 -1890px;}
.flair-56{background-position:0 -1925px;}
.flair-57{background-position:0 -1960px;}
.flair-58{background-position:0 -1995px;}
.flair-59{background-position:0 -2030px;}
.flair-60{background-position:0 -2065px;}
.flair-61{background-position:0 -2100px;}
.flair-62{background-position:0 -2135px;}
.flair-63{background-position:0 -2170px;}
.flair-64{background-position:0 -2205px;}
.flair-65{background-position:0 -2240px;}
.flair-66{background-position:0 -2275px;}
.flair-67{background-position:0 -2310px;}
.flair-68{background-position:0 -2345px;}
.flair-69{background-position:0 -2380px;}
.flair-70{background-position:0 -2415px;}
.flair-71{background-position:0 -2450px;}
.flair-72{background-position:0 -2485px;}
.flair-73{background-position:0 -2520px;}
.flair-74{background-position:0 -2555px;}
.flair-75{background-position:0 -2590px;}
.flair-76{background-position:0 -2625px;}
.flair-77{background-position:0 -2660px;}
.flair-78{background-position:0 -2695px;}
.flair-79{background-position:0 -2730px;}
.flair-80{background-position:0 -2765px;}
.flair-81{background-position:0 -2800px;}
.flair-82{background-position:0 -2835px;}
.flair-83{background-position:0 -2870px;}
.flair-84{background-position:0 -2905px;}
.flair-85{background-position:0 -2940px;}
.flair-86{background-position:0 -2975px;}
.flair-87{background-position:0 -3010px;}
.flair-88{background-position:0 -3045px;}
.flair-89{background-position:0 -3080px;}
.flair-90{background-position:0 -3115px;}
.flair-91{background-position:0 -3150px;}
.flair-92{background-position:0 -3185px;}
.flair-93{background-position:0 -3220px;}
.flair-94{background-position:0 -3255px;}
.flair-95{background-position:0 -3290px;}
.flair-96{background-position:0 -3325px;}
.flair-97{background-position:0 -3360px;}
.flair-98{background-position:0 -3395px;}
.flair-99{background-position:0 -3430px;}
.flair-100{background-position:0 -3465px;}
.flair-101{background-position:0 -3500px;}
.flair-102{background-position:0 -3535px;}
.flair-103{background-position:0 -3570px;}
.flair-104{background-position:0 -3605px;}
.flair-105{background-position:0 -3640px;}
.flair-106{background-position:0 -3675px;}
.flair-107{background-position:0 -3710px;}
.flair-108{background-position:0 -3745px;}
.flair-109{background-position:0 -3780px;}
.flair-110{background-position:0 -3815px;}
.flair-111{background-position:0 -3850px;}
.flair-112{background-position:0 -3885px;}
.flair-113{background-position:0 -3920px;}
.flair-114{background-position:0 -3955px;}
.flair-115{background-position:0 -3990px;}
.flair-116{background-position:0 -4025px;}
.flair-117{background-position:0 -4060px;}
.flair-118{background-position:0 -4095px;}
.flair-119{background-position:0 -4130px;}
.flair-120{background-position:0 -4165px;}
.flair-121{background-position:0 -4200px;}
.flair-122{background-position:0 -4235px;}
.flair-123{background-position:0 -4270px;}
.flair-124{background-position:0 -4305px;}
.flair-125{background-position:0 -4340px;}
.flair-126{background-position:0 -4375px;}
.flair-127{background-position:0 -4410px;}
.flair-128{background-position:0 -4445px;}
.flair-129{background-position:0 -4480px;}
.flair-130{background-position:0 -4515px;}
.flair-131{background-position:0 -4550px;}
.flair-132{background-position:0 -4585px;}
.flair-133{background-position:0 -4620px;}
.flair-134{background-position:0 -4655px;}
.flair-135{background-position:0 -4690px;}
.flair-136{background-position:0 -4725px;}
.flair-137{background-position:0 -4760px;}
.flair-138{background-position:0 -4795px;}
.flair-139{background-position:0 -4830px;}
.flair-140{background-position:0 -4865px;}
.flair-141{background-position:0 -4900px;}
.flair-142{background-position:0 -4935px;}
.flair-143{background-position:0 -4970px;}
.flair-144{background-position:0 -5005px;}
.flair-145{background-position:0 -5040px;}
.flair-146{background-position:0 -5075px;}
.flair-147{background-position:0 -5110px;}
.flair-148{background-position:0 -5145px;}
.flair-149{background-position:0 -5180px;}
.flair-150{background-position:0 -5215px;}
.flair-151{background-position:0 -5250px;}
.flair-152{background-position:0 -5285px;}
.flair-153{background-position:0 -5320px;}
.flair-154{background-position:0 -5355px;}
.flair-155{background-position:0 -5390px;}
.flair-156{background-position:0 -5425px;}
.flair-157{background-position:0 -5460px;}
.flair-158{background-position:0 -5495px;}
.flair-159{background-position:0 -5530px;}
.flair-160{background-position:0 -5565px;}
.flair-161{background-position:0 -5600px;}
.flair-162{background-position:0 -5635px;}
.flair-163{background-position:0 -5670px;}
.flair-164{background-position:0 -5705px;}
.flair-165{background-position:0 -5740px;}
.flair-166{background-position:0 -5775px;}
.flair-167{background-position:0 -5810px;}
.flair-168{background-position:0 -5845px;}
.flair-169{background-position:0 -5880px;}
.flair-170{background-position:0 -5915px;}
.flair-171{background-position:0 -5950px;}
.flair-172{background-position:0 -5985px;}
.flair-173{background-position:0 -6020px;}
.flair-174{background-position:0 -6055px;}
.flair-175{background-position:0 -6090px;}
.flair-176{background-position:0 -6125px;}
.flair-177{background-position:0 -6160px;}
.flair-178{background-position:0 -6195px;}
.flair-179{background-position:0 -6230px;}
.flair-180{background-position:0 -6265px;}
.flair-181{background-position:0 -6300px;}
.flair-182{background-position:0 -6335px;}
.flair-183{background-position:0 -6370px;}
.flair-184{background-position:0 -6405px;}
.flair-185{background-position:0 -6440px;}
.flair-186{background-position:0 -6475px;}
.flair-187{background-position:0 -6510px;}
.flair-188{background-position:0 -6545px;}
.flair-189{background-position:0 -6580px;}
.flair-190{background-position:0 -6615px;}
.flair-191{background-position:0 -6650px;}
.flair-192{background-position:0 -6685px;}
.flair-193{background-position:0 -6720px;}
.flair-194{background-position:0 -6755px;}
.flair-195{background-position:0 -6790px;}
.flair-196{background-position:0 -6825px;}
.flair-197{background-position:0 -6860px;}
.flair-198{background-position:0 -6895px;}
.flair-199{background-position:0 -6930px;}
.flair-200{background-position:0 -6965px;}
.flair-201{background-position:0 -7000px;}
.flair-202{background-position:0 -7035px;}
.flair-203{background-position:0 -7070px;}
.flair-204{background-position:0 -7105px;}
.flair-205{background-position:0 -7140px;}
.flair-206{background-position:0 -7175px;}
.flair-207{background-position:0 -7210px;}
.flair-208{background-position:0 -7245px;}
.flair-209{background-position:0 -7280px;}
.flair-210{background-position:0 -7315px;}
.flair-211{background-position:0 -7350px;}
.flair-212{background-position:0 -7385px;}
.flair-213{background-position:0 -7420px;}
.flair-214{background-position:0 -7455px;}
.flair-215{background-position:0 -7490px;}
.flair-216{background-position:0 -7525px;}
.flair-217{background-position:0 -7560px;}
.flair-218{background-position:0 -7595px;}
.flair-219{background-position:0 -7630px;}
.flair-220{background-position:0 -7665px;}
.flair-221{background-position:0 -7700px;}
.flair-222{background-position:0 -7735px;}
.flair-223{background-position:0 -7770px;}
.flair-224{background-position:0 -7805px;}
.flair-225{background-position:0 -7840px;}
.flair-226{background-position:0 -7875px;}
.flair-227{background-position:0 -7910px;}
.flair-228{background-position:0 -7945px;}
.flair-229{background-position:0 -7980px;}
.flair-230{background-position:0 -8015px;}
.flair-231{background-position:0 -8050px;}
.flair-232{background-position:0 -8085px;}
.flair-233{background-position:0 -8120px;}
.flair-234{background-position:0 -8155px;}
.flair-235{background-position:0 -8190px;}
.flair-236{background-position:0 -8225px;}
.flair-237{background-position:0 -8260px;}
.flair-238{background-position:0 -8295px;}
.flair-239{background-position:0 -8330px;}
.flair-240{background-position:0 -8365px;}
.flair-241{background-position:0 -8400px;}
.flair-242{background-position:0 -8435px;}
.flair-243{background-position:0 -8470px;}
.flair-244{background-position:0 -8505px;}
.flair-245{background-position:0 -8540px;}
.flair-246{background-position:0 -8575px;}
.flair-247{background-position:0 -8610px;}
.flair-248{background-position:0 -8645px;}
.flair-249{background-position:0 -8680px;}
.flair-250{background-position:0 -8715px;}
.flair-251{background-position:0 -8750px;}
.flair-252{background-position:0 -8785px;}
.flair-253{background-position:0 -8820px;}
.flair-254{background-position:0 -8855px;}
.flair-255{background-position:0 -8890px;}
.flair-256{background-position:0 -8925px;}
.flair-257{background-position:0 -8960px;}
.flair-258{background-position:0 -8995px;}
.flair-259{background-position:0 -9030px;}
.flair-260{background-position:0 -9065px;}
.flair-261{background-position:0 -9100px;}
.flair-262{background-position:0 -9135px;}
.flair-263{background-position:0 -9170px;}
.flair-264{background-position:0 -9205px;}
.flair-265{background-position:0 -9240px;}
.flair-266{background-position:0 -9275px;}
.flair-267{background-position:0 -9310px;}
.flair-268{background-position:0 -9345px;}
.flair-269{background-position:0 -9380px;}
.flair-270{background-position:0 -9415px;}
.flair-271{background-position:0 -9450px;}
.flair-272{background-position:0 -9485px;}
.flair-273{background-position:0 -9520px;}
.flair-274{background-position:0 -9555px;}
.flair-275{background-position:0 -9590px;}
.flair-276{background-position:0 -9625px;}
.flair-277{background-position:0 -9660px;}
.flair-278{background-position:0 -9695px;}
.flair-279{background-position:0 -9730px;}
.flair-280{background-position:0 -9765px;}
.flair-281{background-position:0 -9800px;}
.flair-282{background-position:0 -9835px;}
.flair-283{background-position:0 -9870px;}
.flair-284{background-position:0 -9905px;}
.flair-285{background-position:0 -9940px;}
.flair-286{background-position:0 -9975px;}
.flair-287{background-position:0 -10010px;}
.flair-288{background-position:0 -10045px;}
.flair-289{background-position:0 -10080px;}
.flair-290{background-position:0 -10115px;}
.flair-291{background-position:0 -10150px;}
.flair-292{background-position:0 -10185px;}
.flair-293{background-position:0 -10220px;}
.flair-294{background-position:0 -10255px;}
.flair-295{background-position:0 -10290px;}
.flair-296{background-position:0 -10325px;}
.flair-297{background-position:0 -10360px;}
.flair-298{background-position:0 -10395px;}
.flair-299{background-position:0 -10430px;}
.flair-300{background-position:0 -10465px;}
.flair-301{background-position:0 -10500px;}
.flair-302{background-position:0 -10535px;}
.flair-303{background-position:0 -10570px;}
.flair-304{background-position:0 -10605px;}
.flair-305{background-position:0 -10640px;}
.flair-306{background-position:0 -10675px;}
.flair-307{background-position:0 -10710px;}
.flair-308{background-position:0 -10745px;}
.flair-309{background-position:0 -10780px;}
.flair-310{background-position:0 -10815px;}
.flair-311{background-position:0 -10850px;}
.flair-312{background-position:0 -10885px;}
.flair-313{background-position:0 -10920px;}
.flair-314{background-position:0 -10955px;}
.flair-315{background-position:0 -10990px;}
.flair-316{background-position:0 -11025px;}
.flair-317{background-position:0 -11060px;}
.flair-318{background-position:0 -11095px;}
.flair-319{background-position:0 -11130px;}
.flair-320{background-position:0 -11165px;}
.flair-321{background-position:0 -11200px;}
.flair-322{background-position:0 -11235px;}
.flair-323{background-position:0 -11270px;}
.flair-324{background-position:0 -11305px;}
.flair-325{background-position:0 -11340px;}
.flair-326{background-position:0 -11375px;}
.flair-327{background-position:0 -11410px;}
.flair-328{background-position:0 -11445px;}
.flair-329{background-position:0 -11480px;}
.flair-330{background-position:0 -11515px;}
.flair-331{background-position:0 -11550px;}
.flair-332{background-position:0 -11585px;}
.flair-333{background-position:0 -11620px;}
.flair-334{background-position:0 -11655px;}
.flair-335{background-position:0 -11690px;}
.flair-336{background-position:0 -11725px;}
.flair-337{background-position:0 -11760px;}
.flair-338{background-position:0 -11795px;}
.flair-339{background-position:0 -11830px;}
.flair-340{background-position:0 -11865px;}
.flair-341{background-position:0 -11900px;}
.flair-342{background-position:0 -11935px;}
.flair-343{background-position:0 -11970px;}
.flair-344{background-position:0 -12005px;}
.flair-345{background-position:0 -12040px;}
.flair-346{background-position:0 -12075px;}
.flair-347{background-position:0 -12110px;}
.flair-348{background-position:0 -12145px;}
.flair-349{background-position:0 -12180px;}
.flair-350{background-position:0 -12215px;}
.flair-351{background-position:0 -12250px;}
.flair-352{background-position:0 -12285px;}
.flair-353{background-position:0 -12320px;}
.flair-354{background-position:0 -12355px;}
.flair-355{background-position:0 -12390px;}
.flair-356{background-position:0 -12425px;}
.flair-357{background-position:0 -12460px;}
.flair-358{background-position:0 -12495px;}
.flair-359{background-position:0 -12530px;}
.flair-360{background-position:0 -12565px;}
.flair-361{background-position:0 -12600px;}
.flair-362{background-position:0 -12635px;}
.flair-363{background-position:0 -12670px;}
.flair-364{background-position:0 -12705px;}
.flair-365{background-position:0 -12740px;}
.flair-366{background-position:0 -12775px;}
.flair-367{background-position:0 -12810px;}
.flair-368{background-position:0 -12845px;}
.flair-369{background-position:0 -12880px;}
.flair-370{background-position:0 -12915px;}
.flair-371{background-position:0 -12950px;}
.flair-372{background-position:0 -12985px;}
.flair-373{background-position:0 -13020px;}
.flair-374{background-position:0 -13055px;}
.flair-375{background-position:0 -13090px;}
.flair-376{background-position:0 -13125px;}
.flair-377{background-position:0 -13160px;}
.flair-378{background-position:0 -13195px;}
.flair-379{background-position:0 -13230px;}
.flair-380{background-position:0 -13265px;}
.flair-381{background-position:0 -13300px;}
.flair-382{background-position:0 -13335px;}
.flair-383{background-position:0 -13370px;}
.flair-384{background-position:0 -13405px;}
.flair-385{background-position:0 -13440px;}
.flair-386{background-position:0 -13475px;}
.flair-387{background-position:0 -13510px;}
.flair-388{background-position:0 -13545px;}
.flair-389{background-position:0 -13580px;}
.flair-390{background-position:0 -13615px;}
.flair-391{background-position:0 -13650px;}
.flair-392{background-position:0 -13685px;}
.flair-393{background-position:0 -13720px;}
.flair-394{background-position:0 -13755px;}
.flair-395{background-position:0 -13790px;}
.flair-396{background-position:0 -13825px;}
.flair-397{background-position:0 -13860px;}
.flair-398{background-position:0 -13895px;}
.flair-399{background-position:0 -13930px;}
.flair-400{background-position:0 -13965px;}
.flair-401{background-position:0 -14000px;}
.flair-402{background-position:0 -14035px;}
.flair-403{background-position:0 -14070px;}
.flair-404{background-position:0 -14105px;}
.flair-405{background-position:0 -14140px;}
.flair-406{background-position:0 -14175px;}
.flair-407{background-position:0 -14210px;}
.flair-408{background-position:0 -14245px;}
.flair-409{background-position:0 -14280px;}
.flair-410{background-position:0 -14315px;}
.flair-411{background-position:0 -14350px;}
.flair-412{background-position:0 -14385px;}
.flair-413{background-position:0 -14420px;}
.flair-414{background-position:0 -14455px;}
.flair-415{background-position:0 -14490px;}
.flair-416{background-position:0 -14525px;}
.flair-417{background-position:0 -14560px;}
.flair-418{background-position:0 -14595px;}
.flair-419{background-position:0 -14630px;}
.flair-420{background-position:0 -14665px;}
.flair-421{background-position:0 -14700px;}
.flair-422{background-position:0 -14735px;}
.flair-423{background-position:0 -14770px;}
.flair-424{background-position:0 -14805px;}
.flair-425{background-position:0 -14840px;}
.flair-426{background-position:0 -14875px;}
.flair-427{background-position:0 -14910px;}
.flair-428{background-position:0 -14945px;}
.flair-429{background-position:0 -14980px;}
.flair-430{background-position:0 -15015px;}
.flair-431{background-position:0 -15050px;}
.flair-432{background-position:0 -15085px;}
.flair-433{background-position:0 -15120px;}
.flair-434{background-position:0 -15155px;}
.flair-435{background-position:0 -15190px;}
.flair-436{background-position:0 -15225px;}
.flair-437{background-position:0 -15260px;}
.flair-438{background-position:0 -15295px;}
.flair-439{background-position:0 -15330px;}
.flair-440{background-position:0 -15365px;}
.flair-441{background-position:0 -15400px;}
.flair-442{background-position:0 -15435px;}
.flair-443{background-position:0 -15470px;}
.flair-444{background-position:0 -15505px;}
.flair-445{background-position:0 -15540px;}
.flair-446{background-position:0 -15575px;}
.flair-447{background-position:0 -15610px;}
.flair-448{background-position:0 -15645px;}
.flair-449{background-position:0 -15680px;}
.flair-450{background-position:0 -15715px;}
.flair-451{background-position:0 -15750px;}
.flair-452{background-position:0 -15785px;}
.flair-453{background-position:0 -15820px;}
.flair-454{background-position:0 -15855px;}
.flair-455{background-position:0 -15890px;}
.flair-456{background-position:0 -15925px;}
.flair-457{background-position:0 -15960px;}
.flair-458{background-position:0 -15995px;}
.flair-459{background-position:0 -16030px;}
.flair-460{background-position:0 -16065px;}
.flair-461{background-position:0 -16100px;}
.flair-462{background-position:0 -16135px;}
.flair-463{background-position:0 -16170px;}
.flair-464{background-position:0 -16205px;}
.flair-465{background-position:0 -16240px;}
.flair-466{background-position:0 -16275px;}
.flair-467{background-position:0 -16310px;}
.flair-468{background-position:0 -16345px;}
.flair-469{background-position:0 -16380px;}
.flair-470{background-position:0 -16415px;}
.flair-471{background-position:0 -16450px;}
.flair-472{background-position:0 -16485px;}
.flair-473{background-position:0 -16520px;}
.flair-474{background-position:0 -16555px;}
.flair-475{background-position:0 -16590px;}
.flair-476{background-position:0 -16625px;}
.flair-477{background-position:0 -16660px;}
.flair-478{background-position:0 -16695px;}
.flair-479{background-position:0 -16730px;}
.flair-480{background-position:0 -16765px;}
.flair-481{background-position:0 -16800px;}
.flair-482{background-position:0 -16835px;}
.flair-483{background-position:0 -16870px;}
.flair-484{background-position:0 -16905px;}
.flair-485{background-position:0 -16940px;}
.flair-486{background-position:0 -16975px;}
.flair-487{background-position:0 -17010px;}
.flair-488{background-position:0 -17045px;}
.flair-489{background-position:0 -17080px;}
.flair-490{background-position:0 -17115px;}
.flair-491{background-position:0 -17150px;}
.flair-492{background-position:0 -17185px;}
.flair-493{background-position:0 -17220px;}
.flair-494{background-position:0 -17255px;}
.flair-495{background-position:0 -17290px;}
.flair-496{background-position:0 -17325px;}
.flair-497{background-position:0 -17360px;}
.flair-498{background-position:0 -17395px;}
.flair-499{background-position:0 -17430px;}
.flair-500{background-position:0 -17465px;}
.flair-501{background-position:0 -17500px;}
.flair-502{background-position:0 -17535px;}
.flair-503{background-position:0 -17570px;}
.flair-504{background-position:0 -17605px;}
.flair-505{background-position:0 -17640px;}
.flair-506{background-position:0 -17675px;}
.flair-507{background-position:0 -17710px;}
.flair-508{background-position:0 -17745px;}
.flair-509{background-position:0 -17780px;}
.flair-510{background-position:0 -17815px;}
.flair-511{background-position:0 -17850px;}
.flair-512{background-position:0 -17885px;}
.flair-513{background-position:0 -17920px;}
.flair-514{background-position:0 -17955px;}
.flair-515{background-position:0 -17990px;}
.flair-516{background-position:0 -18025px;}
.flair-517{background-position:0 -18060px;}
.flair-518{background-position:0 -18095px;}
.flair-519{background-position:0 -18130px;}
.flair-520{background-position:0 -18165px;}
.flair-521{background-position:0 -18200px;}
.flair-522{background-position:0 -18235px;}
.flair-523{background-position:0 -18270px;}
.flair-524{background-position:0 -18305px;}
.flair-525{background-position:0 -18340px;}
.flair-526{background-position:0 -18375px;}
.flair-527{background-position:0 -18410px;}
.flair-528{background-position:0 -18445px;}
.flair-529{background-position:0 -18480px;}
.flair-530{background-position:0 -18515px;}
.flair-531{background-position:0 -18550px;}
.flair-532{background-position:0 -18585px;}
.flair-533{background-position:0 -18620px;}
.flair-534{background-position:0 -18655px;}
.flair-535{background-position:0 -18690px;}
.flair-536{background-position:0 -18725px;}
.flair-537{background-position:0 -18760px;}
.flair-538{background-position:0 -18795px;}
.flair-539{background-position:0 -18830px;}
.flair-540{background-position:0 -18865px;}
.flair-541{background-position:0 -18900px;}
.flair-542{background-position:0 -18935px;}
.flair-543{background-position:0 -18970px;}
.flair-544{background-position:0 -19005px;}
.flair-545{background-position:0 -19040px;}
.flair-546{background-position:0 -19075px;}
.flair-547{background-position:0 -19110px;}
.flair-548{background-position:0 -19145px;}
.flair-549{background-position:0 -19180px;}
.flair-550{background-position:0 -19215px;}
.flair-551{background-position:0 -19250px;}
.flair-552{background-position:0 -19285px;}
.flair-553{background-position:0 -19320px;}
.flair-554{background-position:0 -19355px;}
.flair-555{background-position:0 -19390px;}
.flair-556{background-position:0 -19425px;}
.flair-557{background-position:0 -19460px;}
.flair-558{background-position:0 -19495px;}
.flair-559{background-position:0 -19530px;}
.flair-560{background-position:0 -19565px;}
.flair-561{background-position:0 -19600px;}
.flair-562{background-position:0 -19635px;}
.flair-563{background-position:0 -19670px;}
.flair-564{background-position:0 -19705px;}
.flair-565{background-position:0 -19740px;}
.flair-566{background-position:0 -19775px;}
.flair-567{background-position:0 -19810px;}
.flair-568{background-position:0 -19845px;}
.flair-569{background-position:0 -19880px;}
.flair-570{background-position:0 -19915px;}
.flair-571{background-position:0 -19950px;}
.flair-572{background-position:0 -19985px;}
.flair-573{background-position:0 -20020px;}
.flair-574{background-position:0 -20055px;}
.flair-575{background-position:0 -20090px;}
.flair-576{background-position:0 -20125px;}
.flair-577{background-position:0 -20160px;}
.flair-578{background-position:0 -20195px;}
.flair-579{background-position:0 -20230px;}
.flair-580{background-position:0 -20265px;}
.flair-581{background-position:0 -20300px;}
.flair-582{background-position:0 -20335px;}
.flair-583{background-position:0 -20370px;}
.flair-584{background-position:0 -20405px;}
.flair-585{background-position:0 -20440px;}
.flair-586{background-position:0 -20475px;}
.flair-587{background-position:0 -20510px;}
.flair-588{background-position:0 -20545px;}
.flair-589{background-position:0 -20580px;}
.flair-590{background-position:0 -20615px;}
.flair-591{background-position:0 -20650px;}
.flair-592{background-position:0 -20685px;}
.flair-593{background-position:0 -20720px;}
.flair-594{background-position:0 -20755px;}
.flair-595{background-position:0 -20790px;}
.flair-596{background-position:0 -20825px;}
.flair-597{background-position:0 -20860px;}
.flair-598{background-position:0 -20895px;}
.flair-599{background-position:0 -20930px;}
.flair-600{background-position:0 -20965px;}
.flair-601{background-position:0 -21000px;}
.flair-602{background-position:0 -21035px;}
.flair-603{background-position:0 -21070px;}
.flair-604{background-position:0 -21105px;}
.flair-605{background-position:0 -21140px;}
.flair-606{background-position:0 -21175px;}
.flair-607{background-position:0 -21210px;}
.flair-608{background-position:0 -21245px;}
.flair-609{background-position:0 -21280px;}
.flair-610{background-position:0 -21315px;}
.flair-611{background-position:0 -21350px;}
.flair-612{background-position:0 -21385px;}
.flair-613{background-position:0 -21420px;}
.flair-614{background-position:0 -21455px;}
.flair-615{background-position:0 -21490px;}
.flair-616{background-position:0 -21525px;}
.flair-617{background-position:0 -21560px;}
.flair-618{background-position:0 -21595px;}
.flair-619{background-position:0 -21630px;}
.flair-620{background-position:0 -21665px;}
.flair-621{background-position:0 -21700px;}
.flair-622{background-position:0 -21735px;}
.flair-623{background-position:0 -21770px;}
.flair-624{background-position:0 -21805px;}
.flair-625{background-position:0 -21840px;}
.flair-626{background-position:0 -21875px;}
.flair-627{background-position:0 -21910px;}
.flair-628{background-position:0 -21945px;}
.flair-629{background-position:0 -21980px;}
.flair-630{background-position:0 -22015px;}
.flair-631{background-position:0 -22050px;}
.flair-632{background-position:0 -22085px;}
.flair-633{background-position:0 -22120px;}
.flair-634{background-position:0 -22155px;}
.flair-635{background-position:0 -22190px;}
.flair-636{background-position:0 -22225px;}
.flair-637{background-position:0 -22260px;}
.flair-638{background-position:0 -22295px;}
.flair-639{background-position:0 -22330px;}
.flair-640{background-position:0 -22365px;}
.flair-641{background-position:0 -22400px;}
.flair-642{background-position:0 -22435px;}
.flair-643{background-position:0 -22470px;}
.flair-644{background-position:0 -22505px;}
.flair-645{background-position:0 -22540px;}
.flair-646{background-position:0 -22575px;}
.flair-647{background-position:0 -22610px;}
.flair-648{background-position:0 -22645px;}
.flair-649{background-position:0 -22680px;}
.flair-650{background-position:0 -22715px;}
.flair-651{background-position:0 -22750px;}
.flair-652{background-position:0 -22785px;}
.flair-653{background-position:0 -22820px;}
.flair-654{background-position:0 -22855px;}
.flair-655{background-position:0 -22890px;}
.flair-656{background-position:0 -22925px;}
.flair-657{background-position:0 -22960px;}
.flair-658{background-position:0 -22995px;}
.flair-659{background-position:0 -23030px;}
.flair-660{background-position:0 -23065px;}
.flair-661{background-position:0 -23100px;}
.flair-662{background-position:0 -23135px;}
.flair-663{background-position:0 -23170px;}
.flair-664{background-position:0 -23205px;}
.flair-665{background-position:0 -23240px;}
.flair-666{background-position:0 -23275px;}
.flair-667{background-position:0 -23310px;}
.flair-668{background-position:0 -23345px;}
.flair-669{background-position:0 -23380px;}
.flair-670{background-position:0 -23415px;}
.flair-671{background-position:0 -23450px;}
.flair-672{background-position:0 -23485px;}
.flair-673{background-position:0 -23520px;}
.flair-674{background-position:0 -23555px;}
.flair-675{background-position:0 -23590px;}
.flair-676{background-position:0 -23625px;}
.flair-677{background-position:0 -23660px;}
.flair-678{background-position:0 -23695px;}
.flair-679{background-position:0 -23730px;}
.flair-680{background-position:0 -23765px;}
.flair-681{background-position:0 -23800px;}
.flair-682{background-position:0 -23835px;}
.flair-683{background-position:0 -23870px;}
.flair-684{background-position:0 -23905px;}
.flair-685{background-position:0 -23940px;}
.flair-686{background-position:0 -23975px;}
.flair-687{background-position:0 -24010px;}
.flair-688{background-position:0 -24045px;}
.flair-689{background-position:0 -24080px;}
.flair-690{background-position:0 -24115px;}
.flair-691{background-position:0 -24150px;}
.flair-692{background-position:0 -24185px;}
.flair-693{background-position:0 -24220px;}
.flair-694{background-position:0 -24255px;}
.flair-695{background-position:0 -24290px;}
.flair-696{background-position:0 -24325px;}
.flair-697{background-position:0 -24360px;}
.flair-698{background-position:0 -24395px;}
.flair-699{background-position:0 -24430px;}
.flair-700{background-position:0 -24465px;}
.flair-701{background-position:0 -24500px;}
.flair-702{background-position:0 -24535px;}
.flair-703{background-position:0 -24570px;}
.flair-704{background-position:0 -24605px;}
.flair-705{background-position:0 -24640px;}
.flair-706{background-position:0 -24675px;}
.flair-707{background-position:0 -24710px;}
.flair-708{background-position:0 -24745px;}
.flair-709{background-position:0 -24780px;}
.flair-710{background-position:0 -24815px;}
.flair-711{background-position:0 -24850px;}
.flair-712{background-position:0 -24885px;}
.flair-713{background-position:0 -24920px;}
.flair-714{background-position:0 -24955px;}
.flair-715{background-position:0 -24990px;}
.flair-716{background-position:0 -25025px;}
.flair-717{background-position:0 -25060px;}
.flair-718{background-position:0 -25095px;}
.flair-719{background-position:0 -25130px;}
.flair-720{background-position:0 -25165px;}
.flair-721{background-position:0 -25200px;}
.flair-722{background-position:0 -25235px;}
.flair-723{background-position:0 -25270px;}
.flair-724{background-position:0 -25305px;}
.flair-725{background-position:0 -25340px;}
.flair-726{background-position:0 -25375px;}
.flair-727{background-position:0 -25410px;}
.flair-728{background-position:0 -25445px;}
.flair-729{background-position:0 -25480px;}
.flair-730{background-position:0 -25515px;}
.flair-731{background-position:0 -25550px;}
.flair-732{background-position:0 -25585px;}
.flair-733{background-position:0 -25620px;}
.flair-734{background-position:0 -25655px;}
.flair-735{background-position:0 -25690px;}
.flair-736{background-position:0 -25725px;}
.flair-737{background-position:0 -25760px;}
.flair-738{background-position:0 -25795px;}
.flair-739{background-position:0 -25830px;}
.flair-740{background-position:0 -25865px;}
.flair-741{background-position:0 -25900px;}
.flair-742{background-position:0 -25935px;}
.flair-743{background-position:0 -25970px;}
.flair-744{background-position:0 -26005px;}
.flair-745{background-position:0 -26040px;}
.flair-746{background-position:0 -26075px;}
.flair-747{background-position:0 -26110px;}
.flair-748{background-position:0 -26145px;}
.flair-749{background-position:0 -26180px;}
.flair-750{background-position:0 -26215px;}
.flair-751{background-position:0 -26250px;}
.flair-752{background-position:0 -26285px;}
.flair-753{background-position:0 -26320px;}
.flair-754{background-position:0 -26355px;}
.flair-755{background-position:0 -26390px;}
.flair-756{background-position:0 -26425px;}
.flair-757{background-position:0 -26460px;}
.flair-758{background-position:0 -26495px;}
.flair-759{background-position:0 -26530px;}
.flair-760{background-position:0 -26565px;}
.flair-761{background-position:0 -26600px;}
.flair-762{background-position:0 -26635px;}
.flair-763{background-position:0 -26670px;}
.flair-764{background-position:0 -26705px;}
.flair-765{background-position:0 -26740px;}
.flair-766{background-position:0 -26775px;}
.flair-767{background-position:0 -26810px;}
.flair-768{background-position:0 -26845px;}
.flair-769{background-position:0 -26880px;}
.flair-770{background-position:0 -26915px;}
.flair-771{background-position:0 -26950px;}
.flair-772{background-position:0 -26985px;}
.flair-773{background-position:0 -27020px;}
.flair-774{background-position:0 -27055px;}
.flair-775{background-position:0 -27090px;}
.flair-776{background-position:0 -27125px;}
.flair-777{background-position:0 -27160px;}
.flair-778{background-position:0 -27195px;}
.flair-779{background-position:0 -27230px;}
.flair-780{background-position:0 -27265px;}
.flair-781{background-position:0 -27300px;}
.flair-782{background-position:0 -27335px;}
.flair-783{background-position:0 -27370px;}
.flair-784{background-position:0 -27405px;}
.flair-785{background-position:0 -27440px;}
.flair-786{background-position:0 -27475px;}
.flair-787{background-position:0 -27510px;}
.flair-788{background-position:0 -27545px;}
.flair-789{background-position:0 -27580px;}
.flair-790{background-position:0 -27615px;}
.flair-791{background-position:0 -27650px;}
.flair-792{background-position:0 -27685px;}
.flair-793{background-position:0 -27720px;}
.flair-794{background-position:0 -27755px;}
.flair-795{background-position:0 -27790px;}
.flair-796{background-position:0 -27825px;}
.flair-797{background-position:0 -27860px;}
.flair-798{background-position:0 -27895px;}
.flair-799{background-position:0 -27930px;}
.flair-800{background-position:0 -27965px;}